* {
  margin: 0 0;
  box-sizing: border-box;
}

:root {
  --main-white: #F2F1F1;
  --main-green: #668C14;
  --light-green: #87B91A;
  --main-teal: #324359;
  --light-grey1: #D9D7D7;
  --light-grey2: #C0BDBD;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: var(--main-white);
  overflow-x: hidden;
}

/*Dynamically set when the sidenavbar open*/
.body-no-scroll {
  overflow-y: hidden;
}

nav {
  position: sticky;
  top: 0;
  height: 64px;
  background: var(--main-green);
  z-index: 99;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 16px;
}

.nav-logo {
  width: 100%;
  height: 100%;
}

.nav-logo:hover {
  cursor: pointer;
}

.brand-logo-container {
  width: 40px;
  height: auto;
}

.nav-controllers {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.nav-buttons {
  width: 24px;
  height: 24px;
}

.nav-buttons:hover {
  cursor: pointer;
}

.menu-span {
  width: 24px;
  height: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 96px;
  background-color: var(--main-green);
}

/*Slider component*/
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.embla__slide {
  display: flex;
  flex: 0 0 100%;
  min-width: 0;
}

.pair-of-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/*Style for pagination on homepage*/
.pagination-controls {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}