.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    background-image: url(../../public/Furniture/hero-image-verticle-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.featured-hero {
    width: 100%;
    height: auto;
}

.featured-products {
    position: relative;
    height: 50vh;
    width: auto;
}

.featured-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;

}

.lamps {
    background-image: url(../../public/Furniture/category-pop-3.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.sofas {
    background-image: url(../../public/Furniture/category-pop-2.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.pillows {
    background-image: url(../../public/Furniture/category-pop-1.webp);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

/*Slider component*/
.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.embla__slide {
    display: flex;
    flex: 0 0 100%;
    min-width: 0;
}

.pair-of-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}